<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-title>Login</ion-title>
<div class="form-container">
  <ion-item>
    <ion-input
      type="text"
      placeholder="Ingresa tu nombre"
      class="input-field"
      clear-input
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="password"
      placeholder="Ingresa tu contraseña"
      class="input-field"
      clear-input
    ></ion-input>
  </ion-item>
</div>
<ion-button expand="full" (click)="goToHome()">
  Ingresar
</ion-button>
<div class="register-link">
  <a (click)="goToRegister()">¿No tienes una cuenta? Regístrate aquí</a>
</div>
</ion-content>
