<ion-header [translucent]="true">
  <ion-title class="ion-text-center"> Intro </ion-title>
  </ion-header>
  <ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-title>TeLlevo App</ion-title>
        <ion-button (click)="onClick('/home')" expand="block" fill="clear" shape="round">
          ir home
        </ion-button>
        <ion-button (click)="onClick('/login')" expand="block" fill="clear" shape="round">
          ir login
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-content>