<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img class="ion-text-center" src="../../../assets/ciudad_trigal.png" width="550 px" >
  </div>
  <ion-button (click)="onClickIniViaje()" expand="block" fill="clear" shape="round">
    Iniciar viaje
  </ion-button>

  <ion-button (click)="onClickHome()" expand="block" fill="clear" shape="round">
    Volver a Home
  </ion-button>

</ion-content>

